.navbar {
    display: inline;
  }
  body {
    font-family: "Roboto", sans-serif;
  background-color: #858181;
  color: #161611;
  justify-content: space-around;
  padding: 10px;
 }
  .navbar a {
    color: #03354f;
    text-decoration: azure;
  }
  #home {
    text-align: center;
    background-color: #7e7a7a;
    padding: 20px;
  }
  #home h1 {
    font-size: 50px;
    color: #3a0808;
  }
  #about {
    background-color: #858181;
    padding: 20px;
}
  #work {
    padding: 50px;
    text-align: justify;
    color: #c61515;
  }
  #developer {
    color: #c61515;
    text-align: center;
    padding: 50px
}
  #work h2 { 
    text-align: center;
    padding: 50px
  }
  .my-image {
    width: fit-content
  #contact label {
    margin-bottom: 10px;
  }
  #contact input,
  #contact textarea {
    margin-bottom: 15px;
    padding: 5px;
  }
  #contact input[type="submit"] {
    background-color: #333;
    color: #c0bfbf;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
 